@use '@/sass/variables/colors';
.nav-tab {
    position: relative;
    @media screen and (max-width:768px){
        text-align: center;
    }
    .nav-title {
        color: colors.$dark-brown;
    }
    .title-icon {
        width: 100%;
        display: flex;
        gap: 5px;
        justify-content: center;
        cursor: pointer;
        align-items: center;

        &:hover > .nav-title {
            color: colors.$brown-primary;
        }
        &:hover > .dropdown-icon {
            filter: invert(44%) sepia(92%) saturate(290%) hue-rotate(347deg) brightness(92%) contrast(87%);
        }

        .dropdown-icon.clicked {
            transform: rotate(360deg);
        }

        .dropdown-icon {
            // padding-top: 2px;
            transform: rotate(180deg);
            transition: transform 0.2s ease-in-out;
        }
    }
}
