@import '/src/sass/variables/colors';

.button {
  width: max-content;
  //   height: 50px;
  padding: 15px 30px;
  text-transform: uppercase;
  font-family: var(--font-raleway);
  font-weight: bold;
  outline: none;
  cursor: pointer;
  background-color: $brown-primary;
  color: white;
  border: 2px solid $brown-primary;
  font-size: 16px;
  border-radius: 5px;
  transition: all 0.2s ease;

  &:hover {
    background-color: transparent;
    color:$brown-primary;
  }

  &.inverted{
    background-color: transparent;
    border: 2px solid $brown-primary;
    color: $brown-primary;

    &:hover{
      background-color: $brown-primary;
      border: 2px solid $brown-primary;
      color: white;
    }
  }
}


