@use '@/sass/mixins/title';
@use '@/sass/variables/colors';

.contact-page-wrapper {
    display: flex;
    flex-direction: column;

    .contact-page-title {
        @include title.titleStyle;
        margin-top: 80px;
        margin-bottom: 80px;
        font-weight: bold;
        text-align: center;
        align-self: center;

        &::after {
            content: '';
            position: absolute;
            display: block;
            bottom: 0;
            // left: 0%;
            left: 50%;
            transform: translate(-50%);
            height: 2px;
            margin: 0 auto;
            width: 50%;
            background-color: colors.$brown-primary;
        }
    }
    .contact-page-main {
        display: flex;
        margin-bottom: 80px;
        gap: 40px;
        .contact-form {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 40px;
            .form-first-row {
                display: flex;
                gap: 20px;

                input {
                    width: 100%;
                    height: 60px;
                    padding-left: 10px;
                    background: transparent;
                    border: 1px solid colors.$brown-primary;
                    outline: none;
                    caret-color: colors.$brown-primary;
                    font-size: 16px;
                    font-family: var(--font-raleway);
                    background-color: colors.$light-grey;
                    border-radius: 5px;
                    &:focus::placeholder {
                        color: white;
                    }
                }
            }
            textarea {
                background: transparent;
                border: 1px solid colors.$brown-primary;
                background-color: colors.$light-grey;
                border-radius: 5px;
                padding: 10px;
                height: 250px;
                width: 100%;
                resize: none;
                outline: none;
                caret-color: colors.$brown-primary;
                font-size: 16px;
                font-family: var(--font-raleway);
                &:focus::placeholder {
                    color: transparent;
                }
            }
        }
        .contact-info {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 10px;
            .contact-section-item {
                display: flex;
                align-items: center;
                gap: 10px;
            }
        }
    }
}
.map-container {
    .map {
        width: 100%;
        border: 0;
        margin-bottom: -5px;
    }
}
