.hero {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
  .hero-title {
    font-size: 72px;
    text-transform: uppercase;
  }

  .hero-desc {
    font-size: 32px;
    margin: 30px 0px;
  }
}
