@use '@/sass/variables/colors';

.about-us {
  padding: 80px 0px;
  background-color: colors.$light-grey;
  .about-us-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    .about-us-title {
      position: relative;
      padding-bottom: 10px;
      text-transform: uppercase;
      display: inline-block;
      margin-bottom: 80px;

      &::after {
        content: '';
        position: absolute;
        display: block;
        bottom: 0;
        left: 0%;
        margin: 0 auto;
        height: 2px;
        width: 40%;
        background-color: colors.$brown-primary;
      }
    }
    .about-us-content {
      display: flex;
      align-items: center;
      gap: 30px;
      .about-us-text {
        flex: 1;

        .about-us-subtitle {
          margin-bottom: 40px;
          font-family: var(--font-lato);
        }

        .about-us-desc {
          font-family: var(--font-lato);
          line-height: 1.7em;
          margin-bottom: 40px;
        }
      }

      .about-us-image {
        flex: 1;
        height: 500px;
        width: 600px;
        position: relative;
        mix-blend-mode: multiply;
      }
    }
  }
}
