@use '@/sass/variables/colors';
@use '@/sass/mixins/title';

.about-us {
    padding: 80px 0px;
    background-color: colors.$light-grey;
    .about-us-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        .about-us-title {
            @include title.titleStyle;
        }
        .about-us-content {
            display: flex;
            align-items: center;
            gap: 50px;
            width: 100%;
            @media screen and (max-width: 768px){
                flex-direction: column-reverse;

            }
            .about-us-text {
                flex: 1;

                .about-us-subtitle {
                    margin-bottom: 40px;
                    font-family: var(--font-lato);
                }

                .about-us-desc {
                    font-family: var(--font-lato);
                    line-height: 1.7em;
                    margin-bottom: 20px;
                    &:nth-of-type(2) {
                        margin-bottom: 40px;
                    }
                }
            }

            .about-us-image {
                flex: 1;
                max-height: 450px;
                max-width: 550px;
                width: 100%;
                position: relative;
                mix-blend-mode: multiply;
                object-fit: contain;
            }
        }
    }
}
