@use '@/sass/variables/colors';

main {
  flex: auto;
}

.wave{
  aspect-ratio: 4000/1000;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background: url('../img/svg/wave4.svg');
}