@use '@/sass/variables/colors';

.our-service {
    margin: 80px 0px;
    background-color: white;

    .our-service-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        .our-service-title {
            position: relative;
            padding-bottom: 10px;
            margin-bottom: 80px;
            text-transform: uppercase;

            &::after {
                content: '';
                position: absolute;
                display: block;
                bottom: 0;
                left: 0%;
                margin: 0 auto;
                height: 2px;
                width: 40%;
                background-color: colors.$brown-primary;
            }
        }

        .our-service-items {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
            grid-gap: 30px;
        }
    }
}
