@use '@/sass/variables/colors';
@use '@/sass/mixins/title';

.our-service {
  margin: 80px 0px;
  background-color: white;

  .our-service-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .our-service-title {
      @include title.titleStyle;
    }

    .our-service-items {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      grid-gap: 30px;
    }
  }
}
