@use '@/sass/variables/colors';

.header-bottom {
    background-color: #fff;
    font-weight: bold;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.096);
    position: relative;
    z-index: 2;
    .header-bottom-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 80px;
        gap: 50px;
        .logo {
        }

        .nav-links {
            display: flex;
            gap: 20px;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 14px;
            flex-wrap: wrap;
            background-color: #fff;
            transition: all .5s ease-in-out;
            transform-origin: top center;

            @media screen and (max-width: 768px) {
                position: absolute;
                padding: 40px;
                top: 80px;
                left: 0;
                right: 0;
                min-height: 100vh;
                flex-direction: column;
                flex-wrap: nowrap;
                align-items: center;
                transform: scaleY(0);
                opacity: 0;
            }
            &.toggle {
                transform: scaleY(1);
                opacity: 1;
            }
        }
        .menu {
            display: block;
            height: 26px;
            width: 32px;
            display: none;
            cursor: pointer;
            @media screen and (max-width: 768px) {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            span {
                display: block;
                height: 4px;
                width: 100%;
                border-radius: 10px;
                background: colors.$dark-brown;
            }
            .line1 {
                transform-origin: 0% 0%;
                transition: transform 0.4s ease-in-out;
                & .active {
                    transform: rotate(45deg);
                }
            }
            .line2 {
                transition: transform 0.2s ease-in-out;
                & .active {
                    transform: scaleY(0);
                }
            }

            .line3 {
                transform-origin: 0% 100%;
                transition: transform 0.4s ease-in-out;
                & .active {
                    transform: rotate(-45deg);
                }
            }
        }

        // input[type='checkbox']:checked .menu-items {
        //     transform: translateX(0);
        // }

        // input[type='checkbox']:checked .line1 {
        //     transform: rotate(45deg);
        // }

        // input[type='checkbox']:checked .line2 {
        //     transform: scaleY(0);
        // }

        // input[type='checkbox']:checked .line3 {
        //     transform: rotate(-45deg);
        // }

        // input[type='checkbox']:checked .logo {
        //     display: none;
        // }
    }
}
