@use '@/sass/variables/colors';

header {
  background-color: colors.$brown-primary;
  font-weight: bold;

  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;

    .nav-links {
      display: flex;
      gap: 40px;
      text-transform: uppercase;
      font-weight: 600;
    }
  }
}
