@use '@/sass/variables/colors';

.wrapper {
    max-width: 1200px;
    position: relative;
    padding: 0 40px;
    height: 280px;
    :is(.icon-left, .icon-right) {
        top: 50%;
        height: 46px;
        width: 46px;
        cursor: pointer;
        position: absolute;
        text-align: center;
        // line-height: 46px;
        color: black;
        background: #ffff;
        border-radius: 50%;
        padding: 10px;
        box-shadow: 0 1px 4px 1px rgba(0, 0, 50, 0.3);
        z-index: 1;
    }
    .icon-left {
        left: 0;
        transform: translate(40%,-50%);
    }
    .icon-right {
        right: 0;
        transform: translate(-40%,-50%);
    }
    .carousel {
        white-space: nowrap;
        overflow: hidden;
        scroll-behavior: smooth;
        .gallery-img {
            object-fit: cover;
            height: 280px;
            width: calc(100% / 4);
            margin-left: 14px;
            // box-shadow: 0 1px 4px 1px rgba(0, 0, 50, 0.3);
            user-select: none;
            cursor: pointer;
            &:first-child {
                margin-left: 0;
            }

            @media screen and (max-width: 900px) {
                width: calc(100% / 3);
            }

            @media screen and (max-width: 768px) {
                width: calc(100% / 2);
            }

            @media screen and (max-width: 550px) {
                width: 100%;
            }
        }
    }
}
