@use '@/sass/mixins/title';

.about-us-page {
    .about-us-page-wrapper {

        margin-bottom: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
        :is(.image-container, .about-us-page-content) {
            flex: 1;
        }

        @media screen and (max-width: 768px) {
            flex-direction: column;
        }
        .image-container {
            position: relative;
            align-self: flex-start;
            @media screen and (max-width: 768px) {
                align-self: center;
            }
            .about-us-page-img {
                max-height: 450px;
                max-width: 450px;
                width: 100%;
                height: 100%;
                border-radius: 30px;
            }
            .about-us-page-img-bottom {
                height: 300px;
                width: 300px;
                position: absolute;
                top: 70%;
                left: 40%;
                border: 20px solid white;
                border-radius: 30px;

                @media screen and (max-width: 768px) {
                    display: none;
                }

                @media screen and (max-width: 1000px) {
                  left: 20%;
                }
            }
        }

        .about-us-page-content {
            .about-us-page-title {
                @include title.titleStyle;
            }
            .about-us-page-desc {
                font-family: var(--font-lato);
                line-height: 1.7em;
                margin-bottom: 20px;
            }
        }
    }
}
